.log {
    position: absolute;
    opacity: .75;
    bottom: var(--border-margin);
    left: 0;
    user-select: none;
    max-height: 200px;
    overflow: overlay;
    width: calc(100% - var(--border-margin) * 2);
}

    /* .log::-webkit-scrollbar {
    display: none;
    } */